<header
  class="header text-white"
  style="
    background-image: url(../assets/img/about-picture.png);
    background-position: bottom;
  "
  data-overlay-light="2"
>
  <div class="container text-center">
    <div class="row">
      <div data-aos="fade-up" class="col-md-8 mx-auto">
        <h1 style="color: #484848;">Süreç</h1>
        <p style="color: #484848;" class="lead-2 opacity-90 mt-6">
          BKB Yazılım olarak nasıl çalışıyoruz?
        </p>
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-right" class="section wrapped-section p-5">
  <div class="container">
    <div class="row gap-y align-items-center py-7">
      <div class="col-md-6 text-center">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-1.png"
          alt="Gerekliliklerini Anlama"
        />
      </div>

      <div class="col-md-5 ml-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
        <h3>Gerekliliklerini Anlama</h3>
        <p>
          İşinizi dijitalleştirmek için gerekliliklerinizi alıyoruz. BKB Yazılım
          olarak, iş modelinizdeki tüm gereklilikleri göz önünde bulunduruyoruz.
          Tüm gereklilikleri dikkatlice inceledikten sonra, sürecin ne şekilde
          ilerleyeceğini belirliyoruz.
        </p>
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-5 mr-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
        <h3>Sözleşme İmzalama</h3>
        <p>
          Yazılım geliştirme veya yazılım danışmanlığı için sözleşme
          imzaladıktan sonra, tüm kurumlarımız için aynı dikkat ve özeni
          gösteriyoruz. Genellikle yapılan işlerin müşteri tarafına raporlanması
          haftalık bazda yapılıyor. Süregelen yazılım geliştirme veya yazılım
          danışmanlığı süreci her aşamada kurum tarafından incelenebiliyor.
        </p>
      </div>

      <div class="col-md-6 text-center order-first order-md-last">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-2.png"
          alt="..."
        />
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-6 text-center">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-3.png"
          alt="..."
        />
      </div>

      <div class="col-md-5 ml-auto text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
        <h3>Yazılım Geliştirmeye/Danışmanlığına Başlama</h3>
        <p>
          Yazılım geliştirme veya yazılım danışmanlığı sürecinin her aşaması
          kurum ile paylaşılır ve kurum onayı alınır. Kurum incelemesinden sonra
          yapılan geri dönüşler dikkate alınarak sürecin devamı sağlanır.
        </p>
      </div>
    </div>

    <div class="row gap-y align-items-center py-7">
      <div class="col-md-5 text-center text-md-left">
        <p class="lead-9 fw-900 lh-1 opacity-10">04</p>
        <h3>Müşteri Desteği</h3>
        <p>
          Yazılımın müşteri tarafından kabulü sağlandıktan sonra, süregelen
          bakım anlaşmaları ile gerekli yazılım danışmanlığının devamı kurum
          açısından da sağlanır ve yazılım sürekli en güncel halde kalır.
        </p>
      </div>

      <div class="col-md-6 ml-auto text-center order-first order-md-last">
        <img
          style="border-radius: 4px;"
          class="shadow-sm"
          src="../assets/img/process-image-4.png"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
