<header
  data-overlay-light="2"
  class="header"
  style="
    background-image: url(../assets/img/about-picture.png);
    background-position: top;
  "
>
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-200 mb-6">Sezin Tıp BGYS Politikası</h1>
        <p class="lead-2">
          Hedefimiz insanlara daha sağlıklı bir gelecek hazırlamak
        </p>

        <hr class="w-50px ml-0" />
        <!--
        <a class="text-muted" routerLink="/"
          >Açık Kaynak Kodlarımız</a
        >
        -->
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-left" class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-12 ml-auto">
        <h2>BGYS Politikası</h2>
        <p>
          TS EN ISO 27001:2013 Bilgi Güvenliği Yönetim Sistemin ana teması ”
          Bilişim Teknolojileri kapsamında. sözleşmenin gözden geçirme
          aşamasından başlayarak, ihale, iş geliştirme ve projelendirme, satın
          alma, hizmet sunma, teknik servis sağlama ve bunlara ait tüm
          operasyonlar ” kapsamında; insan, alt yapı, yazılım, donanım, kuruluş
          bilgileri, üçüncü şahıslara ait bilgiler ve finansal kaynaklar
          içerisinde bilgi güvenliği yönetiminin sağlandığını göstermek, risk
          yönetimini güvence altına almak, bilgi güvenliği yönetimi süreç
          performansını ölçmek ve bilgi güvenliği ile ilgili konularda üçüncü
          taraflarla olan ilişkilerin düzenlenmesini sağlamaktır.
        </p>
        <p>
          Bu doğrultuda BGYS Politikamızın amacı;
        </p>
        <li>
          Bilgi varlıklarını yönetmek, varlıkların güvenlik değerlerini,
          ihtiyaçlarını ve risklerini belirlemek, güvenlik risklerine yönelik
          kontrolleri geliştirmek ve uygulamak
        </li>
        <li>
          Bilgi varlıkları, değerleri, güvenlik ihtiyaçları, zafiyetleri,
          varlıklara yönelik tehditlerin, tehditlerin sıklıklarının saptanması
          için yöntemlerin belirleyeceği çerçeveyi tanımlamak.
        </li>
        <li>
          Tehditlerin varlıklar üzerindeki gizlilik, bütünlük, erişilebilirlik
          etkilerini değerlendirmeye yönelik bir çerçeveyi tanımlamak.
        </li>
        <li>Risklerin işlenmesi için çalışma esaslarını ortaya koymak.</li>
        <li>
          Hizmet verilen kapsam bağlamında teknolojik beklentileri gözden
          geçirerek riskleri sürekli takip etmek
        </li>
        <li>
          Tabi olduğu ulusal veya uluslararası düzenlemelerden, yasal ve ilgili
          mevzuat gereklerini yerine getirmekten, anlaşmalardan doğan
          yükümlülüklerini karşılamaktan, iç ve dış paydaşlara yönelik kurumsal
          sorumluluklarından kaynaklanan bilgi güvenliği gereksinimlerini
          sağlamak.
        </li>
        <li>
          Hizmet sürekliliğine yönelik bilgi güvenliği tehditlerinin etkisini
          azaltmak ve sürekliliğe katkıda bulunmak
        </li>
        <li>
          Gerçekleşebilecek bilgi güvenliği olaylarına hızla müdahale edebilecek
          ve olayın etkisini minimize edecek yetkinliğe sahip olmak
        </li>
        <li>
          Maliyet etkin bir kontrol altyapısı ile bilgi güvenliği seviyesini
          zaman içinde korumak ve iyileştirmek.
        </li>
        <li>
          Kurum itibarını geliştirmek, bilgi güvenliği temelli olumsuz
          etkilerden korumak
        </li>
        <li>Bilgi Güvenliği Yönetim Sisteminin sürekliliğini sağlamak</li>
        <li>Bilgi Güvenliği Yönetim Sistemini sürekli iyileştirmek</li>
      </div>
    </div>
  </div>
</section>

<section data-aos="fade-up" class="section py-6">
  <div class="container">
    <div class="partner partner-sm">
      <img
        src="../assets/img/saglik-bak-logo.png"
        style="height: 60px;"
        alt="TC Sağlık Bakanlığı"
      />
      <img
        src="../assets/img/ge-logo.png"
        style="height: 60px;"
        alt="General Electric"
      />
      <img
        src="../assets/img/siemens-logo.png"
        style="height: 20px;"
        alt="Siemens"
      />
      <img
        src="../assets/img/philips-logo.png"
        style="height: 30px;"
        alt="Philips"
      />
    </div>
  </div>
</section>
