<header
  data-overlay-light="2"
  class="header"
  style="
    background-image: url(../assets/img/about-picture.png);
    background-position: top;
  "
>
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-200 mb-6">Hakkımızda</h1>
        <p class="lead-2">
          Detaylı iş planlarının somut dijital ürünlerle kesiştiği yer.
        </p>

        <hr class="w-50px ml-0" />

        <!--
        <a class="text-muted" routerLink="/"
          >Açık Kaynak Kodlarımız</a
        >
        -->
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-left" class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-5 mr-auto">
        <h2>Kurum İhtiyaçlarına Odaklı</h2>
        <br />
        <p class="lead-2">
          Kurum ve firmaların ihtiyaçlarına özel; detaylı dijital çözümler.
        </p>
        <p>
          Dijitalleşmenin her adımında, BKB Yazılım Ltd. modern yazılım
          mimarileri ile sınırlar olmadan yenilikçi çözümler sunar. Siz kendi
          işinize aralıksız devam etmeniz için, kullanılabilir arayüzler
          tasarlamak ve modern yazılım mimarileri ile tonlarca verinin
          üstesinden gelmek bizim işimiz.
        </p>
      </div>

      <div class="col-lg-6">
        <div class="gallery gallery-4-type4">
          <a class="gallery-item" href="#">
            <img
              style="height: 325px; border-radius: 4px;"
              src="../assets/img/about-design-photo-1.png"
              alt="..."
              data-provide="lightbox"
            />
          </a>
          <div class="gallery-item-group">
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-2.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-3.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
            <a class="gallery-item" href="#">
              <img
                style="height: 104px; border-radius: 4px;"
                src="../assets/img/about-design-photo-4.png"
                alt="..."
                data-provide="lightbox"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div data-aos="fade-up" class="p-5">
  <section style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);" class="section">
    <div class="container">
      <div class="row gap-y">
        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">
            En İyi Çözümleri Sunmaya Odaklı
          </p>
        </div>

        <div class="col-md-4">
          <h6>Misyonumuz</h6>
          <p>
            Dünyayı daha dijitalleşmiş bir hale getirmek için bilişim alanındaki
            en güncel teknolojileri yakından takip etmek ve kurumlara en
            profesyonel yazılımları sunmak.
          </p>
        </div>

        <div class="col-md-4">
          <h6>Vizyonumuz</h6>
          <p>
            Her zaman kurumların ihtiyaçlarına odaklanarak; onlar için neyin
            faydalı olduğunu göz önünde bulundurarak kurumlara inovatif yazılım
            çözümleri sağlamak.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section data-aos="fade-up" class="section pt-3 pb-0">
  <div class="container">
    <header class="section-header">
      <small>HİZMETLERİMİZ</small>
      <h2>Servislerimiz</h2>
      <hr />
      <p class="lead">
        Yazılım çözümlerimizi kullanarak dijitalleşmeye katılın.
      </p>
    </header>

    <div class="row">
      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i class="fal fa-brackets fa-lg text-primary pr-4"></i> Backend
            Mimari Geliştirme</a
          >
        </h6>
        <p>
          BKB Yazılım Ltd. olarak, kurum ve firmalara hızlı, güvenilir ve
          ölçeklenebilir sunucu tarafı kodları modern yazılım mimarileri ile
          sunuyoruz. Yazılımlarımız KVKK uyumlu olup veri güvenliğine önem
          vermektedir.
        </p>
        <p>
          Sunmakta olduğumuz yazılım çözümleri sunucu tarafı teknolojiler olan
          ASP.NET, .NET Core ve Node.js yazılım dilleridir. Daha fazla bilgi
          için bizimle iletişime geçebilirsiniz.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-info py-5">
          <a href="#">
            <i
              style="color: #926dde;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Web/Mobil Uygulama Geliştirme</a
          >
        </h6>
        <p>
          Arayüz tasarlama ve backend yazılım geliştirmenin yanında, mobil ve
          web uygulamaları için kolay kullanılabilir ve anlaşılabilir
          arayüzlerin kodlanması sürecini de yönetmekteyiz. Arayüz kodlanmasında
          güncel web ve mobil teknolojileri kullanmaktayız.
        </p>
        <p>
          Genel olarak arayüz geliştirmede kullandığımız teknolojiler React.js,
          React Native, Angular8+, Vue.js, Stencil.js olarak sayılabilir.
          (Örneğin, bu sitenin kodlanmasında Angular kullanıldı.)
        </p>
        <br /><br />
      </div>

      <div class="w-100"></div>

      <div class="col-md-8 col-xl-6 ml-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #ff5a5f;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Arayüz Tasarımı</a
          >
        </h6>
        <p>
          BKB Yazılım olarak tonlarca veriyi anlamlı kılabilmek için arayüz
          tasarımının büyük öneme haiz olduğunu düşünmekteyiz. Bu nedenle kurum
          ve firmalara için ürettiğimiz yazılım çözümlerinde, verileri anlamlı
          hale getiren kolay kullanılabilir ve temiz arayüzler tasarlamaktayız.
        </p>
        <p>
          Bu arayüz tasarımlarını yapmak için kullandığımız programlar genel
          olarak Adobe XD, Adobe Photoshop, Adobe Illustrator, Adobe After
          Effects olarak sayılabilir.
        </p>
        <br /><br />
      </div>

      <div class="col-md-8 col-xl-6 mr-lg-auto">
        <h6 class="bt-2 border-secondary py-5">
          <a href="#">
            <i
              style="color: #00a699;"
              class="fal fa-phone-laptop fa-lg pr-4"
            ></i>
            Bulut Yazılım & Medikal PACS</a
          >
        </h6>
        <p class="">
          Günümüzde firmalar bulur yazılımları her türlü iş ihtiyaçları için
          kullanmakta iken, BKB Yazılım olarak onların bu türlü ihtiyaçlarına
          kendi yazılım çözümlerimizi sunuyoruz.
        </p>
        <p>
          Bulut yazılım hizmetlerimiz içerisinde medikal PACS yazılımlarım
          çözümlerimiz ile sağlık kuruluşlarının tıbbi görüntülerini
          saklamalarına yardımcı oluyoruz.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
</section>

<section
  data-aos="fade-up"
  class="section py-7"
  style="
    background-color: #8ea6e6;
    box-shadow: 0 0 15px rgba(142, 166, 130, 0.6);
  "
>
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <h4 class="mb-0 text-white text-center text-md-left">
          Bizimle Çalışmak İster Misiniz?
        </h4>
      </div>

      <div class="col-md-3 text-center text-md-right">
        <a
          style="
            background-color: white;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
          "
          class="btn btn-lg btn-round"
          routerLink="/career"
          >Fırsatları Gör</a
        >
      </div>
    </div>
  </div>
</section>
