<header
  data-overlay-light="2"
  class="header"
  style="
    background-image: url(../assets/img/about-picture.png);
    background-position: top;
  "
>
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-200 mb-6">Sezin Tıp Hakkında</h1>
        <p class="lead-2">
          Hedefimiz insanlara daha sağlıklı bir gelecek hazırlamak
        </p>

        <hr class="w-50px ml-0" />

        <!--
        <a class="text-muted" routerLink="/"
          >Açık Kaynak Kodlarımız</a
        >
        -->
      </div>
    </div>
  </div>
</header>

<section data-aos="fade-left" class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-5 mr-auto">
        <p>
          Sezin Tıbbi Görüntüleme Ve Kalp Merkezi Limited Şirketi 2003 yılında
          kurulmuştur. İlk faaliyet konusu Radyoloji Hizmet Alımı, Kardiyoloji
          Dal Tıp Merkezi ve Kalp Damar Cerrahi Hizmet alımı olmuştur. 2008
          yılına kadar daha çok Kardiyoloji ve Kalp Damar cerrahisi
          Hizmetlerinde faaliyet gösteren firmamız, Radyoloji alanında büyüme
          kararı almış olup bu tarihte Tıp Merkezi de dâhil olmak üzere
          Kalp/Kardiyoloji/Tıp Merkezi yatırımı satılarak, sadece Radyoloji
          alanında yoluna devam etmektedir.
        </p>
        <p>
          2020 tarihi itibari ile 17 Şehirde, toplam 39 Hastanede, 5 Bölge
          Müdürlüğü ve 293 çalışanı ile hizmet vermeye devam etmektedir.
        </p>
        <p>
          Sağlık Bakanlığı’nın ülke genelinde ihale ettiği en büyük Görüntüleme
          ve Raporlama hizmetlerini hâli hazırda başarı ile devam ettirmektedir.
          Bu ihale kapsamında 20 Radyoloji Hekimiyle birlikte merkezlere
          zamanında ulaştırılan raporlar FDA (Amerikan Gıda ve İlaç Dairesi)
          onaylı olup, görüntü kaybı asla oluşmamaktadır. Tüm hasta verileri
          ISO27001:2013 Dicom 3.0 ile transfer edilen Hasta Bilgi ve
          Görüntülerinin ve Teleradyoloji sistemi ile Aktarılan Verilerin
          güvenliğinin sağlanması belgemiz kapsamında, gerekli şartlar altında
          muhafaza edilmektedir.
        </p>
        <p>
          Sektörde sürekli yenilikleri takip eden ve uygulayan şirketimiz
          Bilgisayarlı Tomografi cihazlarında hastalara verilen Radyasyonu
          azaltmak amacı ile bir proje çalışması yaparak bu konuda ülkemizde bir
          ilk olmuştur. Yapılan çalışmalar Avrupa Radyoloji Birliği (ESR)
          tarafından incelenmiş, denetlenmiş ve Türkiye’de bir ilk olarak
          EuroSafe Belgesi (Düşük Dozda çekim kalite ve Kriterlerinin
          sağlandığını gösterir Kalite Belgesi) almıştır.
        </p>
      </div>

      <div class="col-lg-6">
        <img
          class="rounded-md ml-md-4 shadow-lg"
          src="../assets/img/hakkimizda-img.jpeg"
          alt="Sezin Tıbbi Görüntüleme Ceyhan MR"
        />
      </div>
    </div>
  </div>
</section>

<div data-aos="fade-up" class="p-5">
  <section style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);" class="section">
    <div class="container">
      <div class="row gap-y">
        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">
            En İyi Çözümleri Sunmaya Odaklı
          </p>
        </div>

        <div class="col-md-4">
          <h6>Misyonumuz</h6>
          <p>
            Kilometre taşlarımızdan olan sağlık sektöründeki insan hayatına
            değer katan yaklaşımlarımızı tüm devam eden ve gelecekteki
            iştiraklerimizde sürdürülebilir kılmak ve ülkemizdeki tüm
            vatandaşlarımızın refah artışına katkıda bulunmak.
          </p>
        </div>

        <div class="col-md-4">
          <h6>Vizyonumuz</h6>
          <p>
            İnovatif, çözüm odaklı ekibimiz ile; sorun odaklı değil, çözüm
            odaklı yaklaşımlarımız ile iştigal ettiğimiz sektörlerde
            bulunduğumuz yeri teknoloji ve değişim ile paralel olarak durmadan
            geliştirmek ve ilerlemeye devam etmek.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section
  data-aos="fade-up"
  class="section py-7"
  style="
    background-color: #8ea6e6;
    box-shadow: 0 0 15px rgba(142, 166, 130, 0.6);
  "
>
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <h4 class="mb-0 text-white text-center text-md-left">
          Bizimle Çalışmak İster Misiniz?
        </h4>
      </div>

      <div class="col-md-3 text-center text-md-right">
        <a
          style="
            background-color: white;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
          "
          class="btn btn-lg btn-round"
          routerLink="/career"
          >Fırsatları Gör</a
        >
      </div>
    </div>
  </div>
</section>
